title{
    font-family:Arial,sans-serif;
    text-align:center;
    color:white;
}
h1{
    font-family:Arial,sans-serif;
    text-align:center;
    color:rgb(0, 0, 0);
}
body{
    font-family:Arial,sans-serif;
    background:#000000;
    display:flex;
    justify-content:center;
}

.container{
    width:600px;
    background:rgb(255, 255, 255);
    padding:30px;
    margin-top:100px;
    border-radius:30px;
    box-shadow:5px 5px rgb(6, 0, 175);
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-radius:30px;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  border-radius: 30px;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

.btn-salvar {
  background-color: #78add1;
  color: white;
  border: none; 
  padding: 8px 24px; 
  border-radius: 6px;
  cursor: pointer;
  align-items: center;
}